pandas and numpy combined

In [1]:
#making dataframe from
import pandas as pd
import numpy as np
n_array = np.array([[1,2,3],[11,22,33],[111,222,333]])
df = pd.DataFrame(n_array)
print(df)

     0    1    2
0    1    2    3
1   11   22   33
2  111  222  333

In [2]:
#how to read diff files into dataframes
import pandas as pd
import numpy as np
df_json = pd.read_json('https://jsonplaceholder.typicode.com/users')
print(df_json.head(2))
#print(df_json.head())
#print(df_json)  #print whole file
#we can give path to both online and offline data source

   id           name   username              email  \
0   1  Leanne Graham       Bret  Sincere@april.biz
1   2   Ervin Howell  Antonette  Shanna@melissa.tv

                                             address                  phone  \
0  {'street': 'Kulas Light', 'suite': 'Apt. 556',...  1-770-736-8031 x56442
1  {'street': 'Victor Plains', 'suite': 'Suite 87...    010-692-6593 x09125

         website                                            company
0  hildegard.org  {'name': 'Romaguera-Crona', 'catchPhrase': 'Mu...
1  anastasia.net  {'name': 'Deckow-Crist', 'catchPhrase': 'Proac...

In [3]:
import pandas as pd
import numpy as np
df_csv = pd.read_csv('https://raw.githubusercontent.com/plotly/datasets/master/gapminderDataFiveYear.csv')
#print(df_csv.tail())  #printbottomrows
print(df_csv.tail(2))

       country  year         pop continent  lifeExp   gdpPercap
1702  Zimbabwe  2002  11926563.0    Africa   39.989  672.038623
1703  Zimbabwe  2007  12311143.0    Africa   43.487  469.709298

In [4]:
#making DF from copied data
#will only  work if we have copied some tabular data

copied_df = pd.read_clipboard()
print(copied_df)

  emotions_data['Sadness_Catoegory']   =  pd.cut(emotions_df['Sadness'],bins=  \
0               print(emotions_data) NaN                                  NaN

   bins  ,labels=  labels,right=  True)
0   NaN       NaN            NaN    NaN

In [5]:
#lets filter and get data from the previous csv file 
pakistan_data = df_csv[df_csv['country'] == 'Pakistan']
print(pakistan_data)

       country  year          pop continent  lifeExp    gdpPercap
1164  Pakistan  1952   41346560.0      Asia   43.436   684.597144
1165  Pakistan  1957   46679944.0      Asia   45.557   747.083529
1166  Pakistan  1962   53100671.0      Asia   47.670   803.342742
1167  Pakistan  1967   60641899.0      Asia   49.800   942.408259
1168  Pakistan  1972   69325921.0      Asia   51.929  1049.938981
1169  Pakistan  1977   78152686.0      Asia   54.043  1175.921193
1170  Pakistan  1982   91462088.0      Asia   56.158  1443.429832
1171  Pakistan  1987  105186881.0      Asia   58.245  1704.686583
1172  Pakistan  1992  120065004.0      Asia   60.838  1971.829464
1173  Pakistan  1997  135564834.0      Asia   61.818  2049.350521
1174  Pakistan  2002  153403524.0      Asia   63.610  2092.712441
1175  Pakistan  2007  169270617.0      Asia   65.483  2605.947580

In [6]:
#quer method allows you to filter usng a string expression
pak_data_querry = df_csv.query('country == "Pakistan"')
print(pak_data_querry)

       country  year          pop continent  lifeExp    gdpPercap
1164  Pakistan  1952   41346560.0      Asia   43.436   684.597144
1165  Pakistan  1957   46679944.0      Asia   45.557   747.083529
1166  Pakistan  1962   53100671.0      Asia   47.670   803.342742
1167  Pakistan  1967   60641899.0      Asia   49.800   942.408259
1168  Pakistan  1972   69325921.0      Asia   51.929  1049.938981
1169  Pakistan  1977   78152686.0      Asia   54.043  1175.921193
1170  Pakistan  1982   91462088.0      Asia   56.158  1443.429832
1171  Pakistan  1987  105186881.0      Asia   58.245  1704.686583
1172  Pakistan  1992  120065004.0      Asia   60.838  1971.829464
1173  Pakistan  1997  135564834.0      Asia   61.818  2049.350521
1174  Pakistan  2002  153403524.0      Asia   63.610  2092.712441
1175  Pakistan  2007  169270617.0      Asia   65.483  2605.947580

In [7]:
#using location accessor
pak_data_location = df_csv.loc(['country ']== "Pakistan")
print(pak_data_querry)

       country  year          pop continent  lifeExp    gdpPercap
1164  Pakistan  1952   41346560.0      Asia   43.436   684.597144
1165  Pakistan  1957   46679944.0      Asia   45.557   747.083529
1166  Pakistan  1962   53100671.0      Asia   47.670   803.342742
1167  Pakistan  1967   60641899.0      Asia   49.800   942.408259
1168  Pakistan  1972   69325921.0      Asia   51.929  1049.938981
1169  Pakistan  1977   78152686.0      Asia   54.043  1175.921193
1170  Pakistan  1982   91462088.0      Asia   56.158  1443.429832
1171  Pakistan  1987  105186881.0      Asia   58.245  1704.686583
1172  Pakistan  1992  120065004.0      Asia   60.838  1971.829464
1173  Pakistan  1997  135564834.0      Asia   61.818  2049.350521
1174  Pakistan  2002  153403524.0      Asia   63.610  2092.712441
1175  Pakistan  2007  169270617.0      Asia   65.483  2605.947580

In [2]:
#making small data frame out of large data frame

import pandas as pd
df_temp = pd.read_excel("ai_24.xlsx")

df_ai = df_temp.iloc[:,[2,6,15]]
print(df_ai)

                 Name  CGPA Object Oriented Programming-CS1004
0          Hashir Ali  2.78                                  I
1         Ali Jamshed  2.29                                  I
2        Warda Shahid  2.28                                  D
3          Inam Ullah  2.53                                  I
4         Wasiq Ahmed  2.58                                  C
5      Afrasiyab Khan  2.41                                 D+
6           Aaqib Ali  2.46                                  I
7       Muhammad Azan  2.22                                 B+
8       Rabeesha Ijaz  3.22                                 B+
9         Musadiq Zeb  2.78                                 B+
10     Muhammad Waqas  2.36                                  I
11        Inayatullah  2.24                                 C+
12       Khansa Malik  2.98                                 B+
13        Zafar Ullah  2.59                                 C+
14        Abdul Rafay  0.00                                  -
15        Abdul Salam  0.00                                  -
16          Ahsan Jan  3.23                                  I
17          Ali Hamza  2.52                                  I
18       Tooba Asghar  2.63                                 C+
19       Altafhussain  3.06                                  I
20       Anohba Jehad  2.51                                 C+
21        Malik Talha  2.90                                  I
22     Muhammad Awais  2.04                                  I
23  Muhammad Abdullah  2.85                                 B-
24              Hamza  2.35                                  C
25        Usman Ghani  2.32                                  I
26      Kabeer Shoaib  2.91                                 C+
27      Hassan Askari  2.23                                 C+
28       Eimaan Zahra  2.58                                  I

In [9]:
#rename col bame to oop
#INPLACE MAKE CHANGES IN THECURRENT DATA SET
import pandas as pd
df_ai.rename(columns={'Object Oriented Programming-CS1004': 'OOP'},inplace = True)
print(df_ai)
#home task
#       how to rename all columns at once?

                 Name  CGPA OOP
0          Hashir Ali  2.78   I
1         Ali Jamshed  2.29   I
2        Warda Shahid  2.28   D
3          Inam Ullah  2.53   I
4         Wasiq Ahmed  2.58   C
5      Afrasiyab Khan  2.41  D+
6           Aaqib Ali  2.46   I
7       Muhammad Azan  2.22  B+
8       Rabeesha Ijaz  3.22  B+
9         Musadiq Zeb  2.78  B+
10     Muhammad Waqas  2.36   I
11        Inayatullah  2.24  C+
12       Khansa Malik  2.98  B+
13        Zafar Ullah  2.59  C+
14        Abdul Rafay  0.00   -
15        Abdul Salam  0.00   -
16          Ahsan Jan  3.23   I
17          Ali Hamza  2.52   I
18       Tooba Asghar  2.63  C+
19       Altafhussain  3.06   I
20       Anohba Jehad  2.51  C+
21        Malik Talha  2.90   I
22     Muhammad Awais  2.04   I
23  Muhammad Abdullah  2.85  B-
24              Hamza  2.35   C
25        Usman Ghani  2.32   I
26      Kabeer Shoaib  2.91  C+
27      Hassan Askari  2.23  C+
28       Eimaan Zahra  2.58   I

/tmp/ipykernel_44771/3172124749.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_ai.rename(columns={'Object Oriented Programming-CS1004': 'OOP'},inplace = True)

In [10]:
#Lets replace ds I to pending
import pandas as pd
df_ai['OOP'] = df_ai['OOP'].replace('I','pending')
print(df_ai)

                 Name  CGPA      OOP
0          Hashir Ali  2.78  pending
1         Ali Jamshed  2.29  pending
2        Warda Shahid  2.28        D
3          Inam Ullah  2.53  pending
4         Wasiq Ahmed  2.58        C
5      Afrasiyab Khan  2.41       D+
6           Aaqib Ali  2.46  pending
7       Muhammad Azan  2.22       B+
8       Rabeesha Ijaz  3.22       B+
9         Musadiq Zeb  2.78       B+
10     Muhammad Waqas  2.36  pending
11        Inayatullah  2.24       C+
12       Khansa Malik  2.98       B+
13        Zafar Ullah  2.59       C+
14        Abdul Rafay  0.00        -
15        Abdul Salam  0.00        -
16          Ahsan Jan  3.23  pending
17          Ali Hamza  2.52  pending
18       Tooba Asghar  2.63       C+
19       Altafhussain  3.06  pending
20       Anohba Jehad  2.51       C+
21        Malik Talha  2.90  pending
22     Muhammad Awais  2.04  pending
23  Muhammad Abdullah  2.85       B-
24              Hamza  2.35        C
25        Usman Ghani  2.32  pending
26      Kabeer Shoaib  2.91       C+
27      Hassan Askari  2.23       C+
28       Eimaan Zahra  2.58  pending

/tmp/ipykernel_44771/2021367019.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_ai['OOP'] = df_ai['OOP'].replace('I','pending')

In [4]:
#CHANGING CASE
import pandas as pd
df_ai.columns = df_ai.columns.str.lower()    #same goes for upper
                                #.title()     output?
#whatif i want to perfor it on wole data frame
print(df_ai)

                 name  cgpa object oriented programming-cs1004
0          Hashir Ali  2.78                                  I
1         Ali Jamshed  2.29                                  I
2        Warda Shahid  2.28                                  D
3          Inam Ullah  2.53                                  I
4         Wasiq Ahmed  2.58                                  C
5      Afrasiyab Khan  2.41                                 D+
6           Aaqib Ali  2.46                                  I
7       Muhammad Azan  2.22                                 B+
8       Rabeesha Ijaz  3.22                                 B+
9         Musadiq Zeb  2.78                                 B+
10     Muhammad Waqas  2.36                                  I
11        Inayatullah  2.24                                 C+
12       Khansa Malik  2.98                                 B+
13        Zafar Ullah  2.59                                 C+
14        Abdul Rafay  0.00                                  -
15        Abdul Salam  0.00                                  -
16          Ahsan Jan  3.23                                  I
17          Ali Hamza  2.52                                  I
18       Tooba Asghar  2.63                                 C+
19       Altafhussain  3.06                                  I
20       Anohba Jehad  2.51                                 C+
21        Malik Talha  2.90                                  I
22     Muhammad Awais  2.04                                  I
23  Muhammad Abdullah  2.85                                 B-
24              Hamza  2.35                                  C
25        Usman Ghani  2.32                                  I
26      Kabeer Shoaib  2.91                                 C+
27      Hassan Askari  2.23                                 C+
28       Eimaan Zahra  2.58                                  I

In [12]:
#adding something to start of column names
import pandas as pd
#what will add_suffix do
df_ai = df_ai.add_prefix('pai_')
print(df_ai)

             pai_name  pai_cgpa  pai_oop
0          Hashir Ali      2.78  pending
1         Ali Jamshed      2.29  pending
2        Warda Shahid      2.28        D
3          Inam Ullah      2.53  pending
4         Wasiq Ahmed      2.58        C
5      Afrasiyab Khan      2.41       D+
6           Aaqib Ali      2.46  pending
7       Muhammad Azan      2.22       B+
8       Rabeesha Ijaz      3.22       B+
9         Musadiq Zeb      2.78       B+
10     Muhammad Waqas      2.36  pending
11        Inayatullah      2.24       C+
12       Khansa Malik      2.98       B+
13        Zafar Ullah      2.59       C+
14        Abdul Rafay      0.00        -
15        Abdul Salam      0.00        -
16          Ahsan Jan      3.23  pending
17          Ali Hamza      2.52  pending
18       Tooba Asghar      2.63       C+
19       Altafhussain      3.06  pending
20       Anohba Jehad      2.51       C+
21        Malik Talha      2.90  pending
22     Muhammad Awais      2.04  pending
23  Muhammad Abdullah      2.85       B-
24              Hamza      2.35        C
25        Usman Ghani      2.32  pending
26      Kabeer Shoaib      2.91       C+
27      Hassan Askari      2.23       C+
28       Eimaan Zahra      2.58  pending

In [ ]:
#reversing rows in data frame
import pandas as pd
print(df_ai.iloc[::-1].reset_index())
#how can we reverse and also chng index to zero

             pai_name  pai_cgpa  pai_oop
28       Eimaan Zahra      2.58  pending
27      Hassan Askari      2.23       C+
26      Kabeer Shoaib      2.91       C+
25        Usman Ghani      2.32  pending
24              Hamza      2.35        C
23  Muhammad Abdullah      2.85       B-
22     Muhammad Awais      2.04  pending
21        Malik Talha      2.90  pending
20       Anohba Jehad      2.51       C+
19       Altafhussain      3.06  pending
18       Tooba Asghar      2.63       C+
17          Ali Hamza      2.52  pending
16          Ahsan Jan      3.23  pending
15        Abdul Salam      0.00        -
14        Abdul Rafay      0.00        -
13        Zafar Ullah      2.59       C+
12       Khansa Malik      2.98       B+
11        Inayatullah      2.24       C+
10     Muhammad Waqas      2.36  pending
9         Musadiq Zeb      2.78       B+
8       Rabeesha Ijaz      3.22       B+
7       Muhammad Azan      2.22       B+
6           Aaqib Ali      2.46  pending
5      Afrasiyab Khan      2.41       D+
4         Wasiq Ahmed      2.58        C
3          Inam Ullah      2.53  pending
2        Warda Shahid      2.28        D
1         Ali Jamshed      2.29  pending
0          Hashir Ali      2.78  pending

if we want to make chng in actual data than we have to save it somewhere

In [14]:
#changing values only for display
import pandas as pd
print(df_ai[['pai_cgpa','pai_oop','pai_name']])

    pai_cgpa  pai_oop           pai_name
0       2.78  pending         Hashir Ali
1       2.29  pending        Ali Jamshed
2       2.28        D       Warda Shahid
3       2.53  pending         Inam Ullah
4       2.58        C        Wasiq Ahmed
5       2.41       D+     Afrasiyab Khan
6       2.46  pending          Aaqib Ali
7       2.22       B+      Muhammad Azan
8       3.22       B+      Rabeesha Ijaz
9       2.78       B+        Musadiq Zeb
10      2.36  pending     Muhammad Waqas
11      2.24       C+        Inayatullah
12      2.98       B+       Khansa Malik
13      2.59       C+        Zafar Ullah
14      0.00        -        Abdul Rafay
15      0.00        -        Abdul Salam
16      3.23  pending          Ahsan Jan
17      2.52  pending          Ali Hamza
18      2.63       C+       Tooba Asghar
19      3.06  pending       Altafhussain
20      2.51       C+       Anohba Jehad
21      2.90  pending        Malik Talha
22      2.04  pending     Muhammad Awais
23      2.85       B-  Muhammad Abdullah
24      2.35        C              Hamza
25      2.32  pending        Usman Ghani
26      2.91       C+      Kabeer Shoaib
27      2.23       C+      Hassan Askari
28      2.58  pending       Eimaan Zahra

In [15]:
#changing col order actually
import pandas as pd
df_reversed_iloc = df_ai.iloc[:,::-1]
print(df_reversed_iloc)

    pai_oop  pai_cgpa           pai_name
0   pending      2.78         Hashir Ali
1   pending      2.29        Ali Jamshed
2         D      2.28       Warda Shahid
3   pending      2.53         Inam Ullah
4         C      2.58        Wasiq Ahmed
5        D+      2.41     Afrasiyab Khan
6   pending      2.46          Aaqib Ali
7        B+      2.22      Muhammad Azan
8        B+      3.22      Rabeesha Ijaz
9        B+      2.78        Musadiq Zeb
10  pending      2.36     Muhammad Waqas
11       C+      2.24        Inayatullah
12       B+      2.98       Khansa Malik
13       C+      2.59        Zafar Ullah
14        -      0.00        Abdul Rafay
15        -      0.00        Abdul Salam
16  pending      3.23          Ahsan Jan
17  pending      2.52          Ali Hamza
18       C+      2.63       Tooba Asghar
19  pending      3.06       Altafhussain
20       C+      2.51       Anohba Jehad
21  pending      2.90        Malik Talha
22  pending      2.04     Muhammad Awais
23       B-      2.85  Muhammad Abdullah
24        C      2.35              Hamza
25  pending      2.32        Usman Ghani
26       C+      2.91      Kabeer Shoaib
27       C+      2.23      Hassan Askari
28  pending      2.58       Eimaan Zahra

In [16]:
#displaying only headings in data frame
import pandas as pd
print(df_ai.columns)

Index(['pai_name', 'pai_cgpa', 'pai_oop'], dtype='object')

In [17]:
import pandas as pd
print(pd.Series(df_ai.columns).to_string())

0    pai_name
1    pai_cgpa
2     pai_oop

In [18]:
import pandas as pd
print(pd.Series(df_ai.columns).to_string(index = False))

pai_name
pai_cgpa
 pai_oop

In [19]:
import pandas as pd
print(pd.Series(df_ai.columns).to_string(index = False),sep = ',')

pai_name
pai_cgpa
 pai_oop

In [20]:
import pandas as pd
#achieved what we wanted to achieve in previous 3 codes
print(', '.join(df_ai.columns))

pai_name, pai_cgpa, pai_oop

SELECT COLUMNS BY TYPE

In [21]:
import pandas as pd
print(df_ai.select_dtypes(include = 'number'))

    pai_cgpa
0       2.78
1       2.29
2       2.28
3       2.53
4       2.58
5       2.41
6       2.46
7       2.22
8       3.22
9       2.78
10      2.36
11      2.24
12      2.98
13      2.59
14      0.00
15      0.00
16      3.23
17      2.52
18      2.63
19      3.06
20      2.51
21      2.90
22      2.04
23      2.85
24      2.35
25      2.32
26      2.91
27      2.23
28      2.58

In [22]:
import pandas as pd
print(df_ai.select_dtypes(include = 'int'))

Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28]

In [23]:
import pandas as pd
print(df_ai.select_dtypes(exclude = 'number'))

             pai_name  pai_oop
0          Hashir Ali  pending
1         Ali Jamshed  pending
2        Warda Shahid        D
3          Inam Ullah  pending
4         Wasiq Ahmed        C
5      Afrasiyab Khan       D+
6           Aaqib Ali  pending
7       Muhammad Azan       B+
8       Rabeesha Ijaz       B+
9         Musadiq Zeb       B+
10     Muhammad Waqas  pending
11        Inayatullah       C+
12       Khansa Malik       B+
13        Zafar Ullah       C+
14        Abdul Rafay        -
15        Abdul Salam        -
16          Ahsan Jan  pending
17          Ali Hamza  pending
18       Tooba Asghar       C+
19       Altafhussain  pending
20       Anohba Jehad       C+
21        Malik Talha  pending
22     Muhammad Awais  pending
23  Muhammad Abdullah       B-
24              Hamza        C
25        Usman Ghani  pending
26      Kabeer Shoaib       C+
27      Hassan Askari       C+
28       Eimaan Zahra  pending

In [24]:
import pandas as pd
print(df_ai.select_dtypes(include = 'object'))  #string

             pai_name  pai_oop
0          Hashir Ali  pending
1         Ali Jamshed  pending
2        Warda Shahid        D
3          Inam Ullah  pending
4         Wasiq Ahmed        C
5      Afrasiyab Khan       D+
6           Aaqib Ali  pending
7       Muhammad Azan       B+
8       Rabeesha Ijaz       B+
9         Musadiq Zeb       B+
10     Muhammad Waqas  pending
11        Inayatullah       C+
12       Khansa Malik       B+
13        Zafar Ullah       C+
14        Abdul Rafay        -
15        Abdul Salam        -
16          Ahsan Jan  pending
17          Ali Hamza  pending
18       Tooba Asghar       C+
19       Altafhussain  pending
20       Anohba Jehad       C+
21        Malik Talha  pending
22     Muhammad Awais  pending
23  Muhammad Abdullah       B-
24              Hamza        C
25        Usman Ghani  pending
26      Kabeer Shoaib       C+
27      Hassan Askari       C+
28       Eimaan Zahra  pending

In [25]:
import pandas as pd
print(df_ai.select_dtypes(include = ['int', 'float']))

    pai_cgpa
0       2.78
1       2.29
2       2.28
3       2.53
4       2.58
5       2.41
6       2.46
7       2.22
8       3.22
9       2.78
10      2.36
11      2.24
12      2.98
13      2.59
14      0.00
15      0.00
16      3.23
17      2.52
18      2.63
19      3.06
20      2.51
21      2.90
22      2.04
23      2.85
24      2.35
25      2.32
26      2.91
27      2.23
28      2.58

In [6]:
import pandas as pd
import numpy as np

new_df = pd.DataFrame({
    'Integers': np.random.randint(5,size=5),
    'Floats': np.random.uniform(1,10,size=5),
    'Strings': np.random.randint(5,size=5),
    'More Floats': np.random.rand(5) #another column of random floats
})

print(new_df)

   Integers    Floats  Strings  More Floats
0         4  6.050801        0     0.381643
1         2  5.942365        4     0.781867
2         2  8.262763        4     0.946471
3         3  1.660846        1     0.953152
4         3  6.444011        4     0.951056

In [27]:
new_df['Strings'] = new_df['Strings'].apply(lambda x: f"'{x}' ")
print(new_df)

   Integers    Floats Strings  More Floats
0         2  7.069979    '4'      0.118670
1         4  7.146353    '0'      0.572845
2         2  6.382296    '0'      0.515792
3         2  8.033109    '1'      0.440701
4         0  4.108552    '2'      0.110340

In [28]:
new_df['Strings'] = new_df['Strings'].str.replace("'","")  
#.replace function is not supported in longer run so what should we do instead?
new_df['Strings'] = new_df['Strings'].astype(int)

print(new_df.dtypes)
print(new_df)

Integers         int64
Floats         float64
Strings          int64
More Floats    float64
dtype: object
   Integers    Floats  Strings  More Floats
0         2  7.069979        4     0.118670
1         4  7.146353        0     0.572845
2         2  6.382296        0     0.515792
3         2  8.033109        1     0.440701
4         0  4.108552        2     0.110340

In [29]:
import pandas as pd
df_csv = pd.read_csv('https://raw.githubusercontent.com/plotly/datasets/master/gapminderDataFiveYear.csv')

print(df_csv.shape)

(1704, 6)

In [30]:
one_percent_df_csv = df_csv.sample(frac=0.01)
print(one_percent_df_csv)

                 country  year          pop continent  lifeExp     gdpPercap
1629             Uruguay  1997    3262838.0  Americas   74.223   9230.240708
1659  West Bank and Gaza  1967    1142636.0      Asia   51.631   2649.715007
1178              Panama  1962    1215725.0  Americas   61.817   3536.540301
625        Guinea-Bissau  1957     601095.0    Africa   33.489    431.790457
949                 Mali  1957    4241884.0    Africa   35.307    490.382187
1068               Nepal  1952    9182536.0      Asia   36.157    545.865723
1421               Spain  1977   36439000.0    Europe   74.390  13236.921170
1317        Saudi Arabia  1997   21229759.0      Asia   70.533  20586.690190
1234              Poland  2002   38625976.0    Europe   74.670  12002.239080
780              Jamaica  1952    1426095.0  Americas   58.530   2898.530881
217             Cambodia  1957    5322536.0      Asia   41.366    434.038336
994               Mexico  2002  102479927.0  Americas   74.902  10742.440530
1358           Singapore  1962    1750200.0      Asia   65.798   3674.735572
867              Lebanon  1967    2186894.0      Asia   63.870   6006.983042
794                Japan  1962   95831757.0      Asia   68.730   6576.649461
1120               Niger  1972    5060262.0    Africa   40.546    954.209236
903                Libya  1967    1759224.0    Africa   50.227  18772.751690

In [31]:
#sample 50% of the colums randomly
fifty_percent_columns_df_csv = df_csv.sample(frac=0.5,axis=1).head()
print(fifty_percent_columns_df_csv)
#AXIS OF NUMPY VS PANDAS

#what if the columns are odd and we are selecting 50% of the columns randomly?

    gdpPercap continent  year
0  779.445314      Asia  1952
1  820.853030      Asia  1957
2  853.100710      Asia  1962
3  836.197138      Asia  1967
4  739.981106      Asia  1972

In [32]:
#to csv
df_ai.to_csv('app_ka_data_csv_main.csv')

#to excel
df_ai.to_excel('app_ka_data_excel_main.xlsx',engine='openpyxl')

#to json
df_ai.to_json('app_ka_data_json_main.json')

#to html
df_ai.to_html('app_ka_data_html_main.html')

#to sql
#to picle
#to Parquet
#to Feather
#to ORC
#to XML
#to SAS

In [33]:
import pandas as pd

emotions_data = {
    'Name':['Aisha','Fatima', 'Zainab','Amir','Omar','Ali','Hassan','Layla','Sara','Bilal'],
    'Happiness':[8, 6, 7, 5, 9, 4, 6, 8, 5, 7],
    'Sadness':[2, 4, 4, 5, 1, 6, 4, 2, 5, 3],
    'Anger':[1, 3, 2, 4, 2, 5, 3, 1, 2, 4],
    'Fear': [3, 5, 7, 1, 5, 9, 2, 8, 1, 6],
    'Surprise':[9, 4, 6, 4, 8, 4, 1, 2, 9, 7],
    'Disgust': [2, 1, 3, 4, 2, 3, 1, 2, 4, 3],
    'Love': [4, 6, 8, 9, 2, 1, 5, 8, 9, 2]
}

#creates a DATAFRAME from the dictionary
emotions_df = pd.DataFrame(emotions_data)

#Display the Dataframe
print(emotions_df)

     Name  Happiness  Sadness  Anger  Fear  Surprise  Disgust  Love
0   Aisha          8        2      1     3         9        2     4
1  Fatima          6        4      3     5         4        1     6
2  Zainab          7        4      2     7         6        3     8
3    Amir          5        5      4     1         4        4     9
4    Omar          9        1      2     5         8        2     2
5     Ali          4        6      5     9         4        3     1
6  Hassan          6        4      3     2         1        1     5
7   Layla          8        2      1     8         2        2     8
8    Sara          5        5      2     1         9        4     9
9   Bilal          7        3      4     6         7        3     2

In [34]:
emotions_df.drop('Disgust', axis=1, inplace=True)
print(emotions_df)

     Name  Happiness  Sadness  Anger  Fear  Surprise  Love
0   Aisha          8        2      1     3         9     4
1  Fatima          6        4      3     5         4     6
2  Zainab          7        4      2     7         6     8
3    Amir          5        5      4     1         4     9
4    Omar          9        1      2     5         8     2
5     Ali          4        6      5     9         4     1
6  Hassan          6        4      3     2         1     5
7   Layla          8        2      1     8         2     8
8    Sara          5        5      2     1         9     9
9   Bilal          7        3      4     6         7     2

In [35]:
new_em = emotions_df.drop(7)
print(new_em)

     Name  Happiness  Sadness  Anger  Fear  Surprise  Love
0   Aisha          8        2      1     3         9     4
1  Fatima          6        4      3     5         4     6
2  Zainab          7        4      2     7         6     8
3    Amir          5        5      4     1         4     9
4    Omar          9        1      2     5         8     2
5     Ali          4        6      5     9         4     1
6  Hassan          6        4      3     2         1     5
8    Sara          5        5      2     1         9     9
9   Bilal          7        3      4     6         7     2

In [36]:
#Drop rows from index 0 to 2 (exclusive)
new_em.drop(new_em.index[0:2], inplace=True)
print(new_em)

     Name  Happiness  Sadness  Anger  Fear  Surprise  Love
2  Zainab          7        4      2     7         6     8
3    Amir          5        5      4     1         4     9
4    Omar          9        1      2     5         8     2
5     Ali          4        6      5     9         4     1
6  Hassan          6        4      3     2         1     5
8    Sara          5        5      2     1         9     9
9   Bilal          7        3      4     6         7     2

In [37]:
new_em.reset_index(drop = True, inplace= True)
#drop = True ?
print(new_em)

     Name  Happiness  Sadness  Anger  Fear  Surprise  Love
0  Zainab          7        4      2     7         6     8
1    Amir          5        5      4     1         4     9
2    Omar          9        1      2     5         8     2
3     Ali          4        6      5     9         4     1
4  Hassan          6        4      3     2         1     5
5    Sara          5        5      2     1         9     9
6   Bilal          7        3      4     6         7     2

In [38]:
#first creating three data feames 

#Data Frame 1: clothing Items
data1 = {
    'ItemID': [1, 2, 3],
    'ItemName': ['Abaya', 'Hijab', 'Jilbab'],
    'DesignerID': [101, 102, 101]
}

df_cloth1 = pd.DataFrame(data1)

#DataFrame 2: Designers
data2 = {
    'DesignerID': [101, 102],
    'DesignerName':['Designer A', 'Designer B']
}

df_cloth2 = pd.DataFrame(data2)

#DataFrame 3: Clothing Items
data3 = {
    'ItemID': [4, 5],
    'ItemName': ['Kaftan', 'Tunic'],
    'DesignerID': [103, 104]
}

df_cloth3 = pd.DataFrame(data3)

print("DataFrame Clothes 1: \n", df_cloth1)
print("\nDataFrame Clothes 2: \n", df_cloth2)
print("\nDataFrame Clothes 3: \n", df_cloth3)

DataFrame Clothes 1:
    ItemID ItemName  DesignerID
0       1    Abaya         101
1       2    Hijab         102
2       3   Jilbab         101

DataFrame Clothes 2:
    DesignerID DesignerName
0         101   Designer A
1         102   Designer B

DataFrame Clothes 3:
    ItemID ItemName  DesignerID
0       4   Kaftan         103
1       5    Tunic         104

In [39]:
# Merge on DesignerID , merging based on a Common column
merge_df = df_cloth1.merge(df_cloth2, on='DesignerID')
print('\nMerged DataFrame:\n', merge_df)

#what if multiple common columns using merge , #hometask

Merged DataFrame:
    ItemID ItemName  DesignerID DesignerName
0       1    Abaya         101   Designer A
1       2    Hijab         102   Designer B
2       3   Jilbab         101   Designer A

In [40]:
#Concatenate both DataFrames Vertically

concat_df = pd.concat([df_cloth1, df_cloth3], ignore_index=True)
print("\nConcatenated DataFrame:\n", concat_df)

Concatenated DataFrame:
    ItemID ItemName  DesignerID
0       1    Abaya         101
1       2    Hijab         102
2       3   Jilbab         101
3       4   Kaftan         103
4       5    Tunic         104

In [41]:
#concatenate both DataFrames horizontal
concat_df2 = pd.concat([df_cloth1, df_cloth3], axis = 1)
print("\nConcatenated DataFrame2: ,", concat_df2)

Concatenated DataFrame2: ,    ItemID ItemName  DesignerID  ItemID ItemName  DesignerID
0       1    Abaya         101     4.0   Kaftan       103.0
1       2    Hijab         102     5.0    Tunic       104.0
2       3   Jilbab         101     NaN      NaN         NaN

In [42]:
#concatenate with keys to create a MultiIndex

concat_multiindex = pd.concat([df_cloth1, df_cloth3], keys=['Modest_Clothing', 'Medival Clothing'])
print("\nConcatenated DataFrame with MultiIndex:\n", concat_multiindex)

#can we do multiindexing in single data frame?

Concatenated DataFrame with MultiIndex:
                     ItemID ItemName  DesignerID
Modest_Clothing  0       1    Abaya         101
                 1       2    Hijab         102
                 2       3   Jilbab         101
Medival Clothing 0       4   Kaftan         103
                 1       5    Tunic         104

In [43]:
print(df_ai)

             pai_name  pai_cgpa  pai_oop
0          Hashir Ali      2.78  pending
1         Ali Jamshed      2.29  pending
2        Warda Shahid      2.28        D
3          Inam Ullah      2.53  pending
4         Wasiq Ahmed      2.58        C
5      Afrasiyab Khan      2.41       D+
6           Aaqib Ali      2.46  pending
7       Muhammad Azan      2.22       B+
8       Rabeesha Ijaz      3.22       B+
9         Musadiq Zeb      2.78       B+
10     Muhammad Waqas      2.36  pending
11        Inayatullah      2.24       C+
12       Khansa Malik      2.98       B+
13        Zafar Ullah      2.59       C+
14        Abdul Rafay      0.00        -
15        Abdul Salam      0.00        -
16          Ahsan Jan      3.23  pending
17          Ali Hamza      2.52  pending
18       Tooba Asghar      2.63       C+
19       Altafhussain      3.06  pending
20       Anohba Jehad      2.51       C+
21        Malik Talha      2.90  pending
22     Muhammad Awais      2.04  pending
23  Muhammad Abdullah      2.85       B-
24              Hamza      2.35        C
25        Usman Ghani      2.32  pending
26      Kabeer Shoaib      2.91       C+
27      Hassan Askari      2.23       C+
28       Eimaan Zahra      2.58  pending

In [44]:
print(df_ai.pai_cgpa.unique())

[2.78 2.29 2.28 2.53 2.58 2.41 2.46 2.22 3.22 2.36 2.24 2.98 2.59 0.
 3.23 2.52 2.63 3.06 2.51 2.9  2.04 2.85 2.35 2.32 2.91 2.23]

In [45]:
print(df_ai.pai_cgpa.nunique())

26

In [46]:
print(df_ai['pai_name'] == 'Musadiq Zeb')

0     False
1     False
2     False
3     False
4     False
5     False
6     False
7     False
8     False
9      True
10    False
11    False
12    False
13    False
14    False
15    False
16    False
17    False
18    False
19    False
20    False
21    False
22    False
23    False
24    False
25    False
26    False
27    False
28    False
Name: pai_name, dtype: bool

In [47]:
print(df_ai.query("pai_name == 'Musadiq Zeb'"))

      pai_name  pai_cgpa pai_oop
9  Musadiq Zeb      2.78      B+

In [48]:
print(df_ai.query("pai_name.str.contains('a', case = False)"))

             pai_name  pai_cgpa  pai_oop
0          Hashir Ali      2.78  pending
1         Ali Jamshed      2.29  pending
2        Warda Shahid      2.28        D
3          Inam Ullah      2.53  pending
4         Wasiq Ahmed      2.58        C
5      Afrasiyab Khan      2.41       D+
6           Aaqib Ali      2.46  pending
7       Muhammad Azan      2.22       B+
8       Rabeesha Ijaz      3.22       B+
9         Musadiq Zeb      2.78       B+
10     Muhammad Waqas      2.36  pending
11        Inayatullah      2.24       C+
12       Khansa Malik      2.98       B+
13        Zafar Ullah      2.59       C+
14        Abdul Rafay      0.00        -
15        Abdul Salam      0.00        -
16          Ahsan Jan      3.23  pending
17          Ali Hamza      2.52  pending
18       Tooba Asghar      2.63       C+
19       Altafhussain      3.06  pending
20       Anohba Jehad      2.51       C+
21        Malik Talha      2.90  pending
22     Muhammad Awais      2.04  pending
23  Muhammad Abdullah      2.85       B-
24              Hamza      2.35        C
25        Usman Ghani      2.32  pending
26      Kabeer Shoaib      2.91       C+
27      Hassan Askari      2.23       C+
28       Eimaan Zahra      2.58  pending

In [49]:
my_temp = df_ai.pai_name.str.contains('a', case=False) & (df_ai.pai_cgpa < 2.5)
#print(my_temp) it will return bolean masking

print(df_ai[my_temp])

          pai_name  pai_cgpa  pai_oop
1      Ali Jamshed      2.29  pending
2     Warda Shahid      2.28        D
5   Afrasiyab Khan      2.41       D+
6        Aaqib Ali      2.46  pending
7    Muhammad Azan      2.22       B+
10  Muhammad Waqas      2.36  pending
11     Inayatullah      2.24       C+
14     Abdul Rafay      0.00        -
15     Abdul Salam      0.00        -
22  Muhammad Awais      2.04  pending
24           Hamza      2.35        C
25     Usman Ghani      2.32  pending
27   Hassan Askari      2.23       C+

In [50]:
#tell me names of students whose gpa is greater than 3.5 or less than 2.5

#getting records of students whose name contains letter r and have gpa less than 2 
my_temp2 = (df_ai.pai_cgpa < 2.5) | (df_ai.pai_cgpa > 3.5)
#print(mytemp2)
print(df_ai[my_temp2])

          pai_name  pai_cgpa  pai_oop
1      Ali Jamshed      2.29  pending
2     Warda Shahid      2.28        D
5   Afrasiyab Khan      2.41       D+
6        Aaqib Ali      2.46  pending
7    Muhammad Azan      2.22       B+
10  Muhammad Waqas      2.36  pending
11     Inayatullah      2.24       C+
14     Abdul Rafay      0.00        -
15     Abdul Salam      0.00        -
22  Muhammad Awais      2.04  pending
24           Hamza      2.35        C
25     Usman Ghani      2.32  pending
27   Hassan Askari      2.23       C+

In [51]:
print(df_ai.pai_oop.value_counts())

pai_oop
pending    12
C+          6
B+          4
C           2
-           2
D           1
D+          1
B-          1
Name: count, dtype: int64

In [52]:
print(df_ai.pai_oop.value_counts().nsmallest(4))

#how  isin works? explore

pai_oop
D     1
D+    1
B-    1
C     2
Name: count, dtype: int64

In [53]:
cities = ['peshawar','lahore','karachi','quetta']
df_ai = np.random.choice(cities,len(df_ai))
print(df_ai)

['karachi' 'quetta' 'lahore' 'lahore' 'quetta' 'peshawar' 'peshawar'
 'quetta' 'lahore' 'karachi' 'quetta' 'peshawar' 'peshawar' 'lahore'
 'quetta' 'karachi' 'karachi' 'peshawar' 'peshawar' 'quetta' 'quetta'
 'lahore' 'peshawar' 'karachi' 'peshawar' 'peshawar' 'karachi' 'quetta'
 'peshawar']

In [54]:
#get records
df_ai[df_ai.city=='karachi']
df_ai.groupby(['city','pai_oop']).count()

#how many cities are there

len(df_ai.groupby('city'))

AttributeError: 'numpy.ndarray' object has no attribute 'city'

### Show me records whose gpa is less than average gpa

In [67]:
df_ai[df_ai.pai_cgpa < df_ai.pai_cgpa.mean()]

AttributeError: 'numpy.ndarray' object has no attribute 'pai_cgpa'

In [78]:

# now who have greater than average of class
print(df_ai[df_ai.pai_cgpa > df_ai.pai_cgpa.mean()])

AttributeError: 'numpy.ndarray' object has no attribute 'pai_cgpa'

In [58]:
#show names of students whose gpa is less than average of class
df_ai[df_ai.pai_cgpa < df_ai.pai_cgpa.mean()]["First_names"]
df_ai.groupby('city').pai_cgpa.mean()

AttributeError: 'numpy.ndarray' object has no attribute 'pai_cgpa'

In [59]:
emotions_data = {
    'Name':['Ayesha','Fatima','Zainab','Amir','Umer','Ali','Hassan','Laila','Sara','Bilal'],
    'Happiness':[2,4,5,7,4,1,3,9,8,6],
    'Sadness': [8,9,8,2,5,3,6,4,6,0],
    'Fear': [6,4,5,3,8,9,4,3,2,1],
    'Surprise': [1,2,3,4,5,6,7,8,9,0],
    'Disgust': [8,6,5,6,2,5,4,0,2,4],
    'Love': [8,9,8,2,5,3,6,4,6,0]
}
emotions_df = pd.DataFrame(emotions_data)
print(emotions_df)

     Name  Happiness  Sadness  Fear  Surprise  Disgust  Love
0  Ayesha          2        8     6         1        8     8
1  Fatima          4        9     4         2        6     9
2  Zainab          5        8     5         3        5     8
3    Amir          7        2     3         4        6     2
4    Umer          4        5     8         5        2     5
5     Ali          1        3     9         6        5     3
6  Hassan          3        6     4         7        4     6
7   Laila          9        4     3         8        0     4
8    Sara          8        6     2         9        2     6
9   Bilal          6        0     1         0        4     0

In [60]:
emotions_df.drop('Disgust',axis=1,inplace=True)
print(emotions_data)

{'Name': ['Ayesha', 'Fatima', 'Zainab', 'Amir', 'Umer', 'Ali', 'Hassan', 'Laila', 'Sara', 'Bilal'], 'Happiness': [2, 4, 5, 7, 4, 1, 3, 9, 8, 6], 'Sadness': [8, 9, 8, 2, 5, 3, 6, 4, 6, 0], 'Fear': [6, 4, 5, 3, 8, 9, 4, 3, 2, 1], 'Surprise': [1, 2, 3, 4, 5, 6, 7, 8, 9, 0], 'Disgust': [8, 6, 5, 6, 2, 5, 4, 0, 2, 4], 'Love': [8, 9, 8, 2, 5, 3, 6, 4, 6, 0]}

In [61]:
new_em = emotions_df.drop(7)
print(new_em)

     Name  Happiness  Sadness  Fear  Surprise  Love
0  Ayesha          2        8     6         1     8
1  Fatima          4        9     4         2     9
2  Zainab          5        8     5         3     8
3    Amir          7        2     3         4     2
4    Umer          4        5     8         5     5
5     Ali          1        3     9         6     3
6  Hassan          3        6     4         7     6
8    Sara          8        6     2         9     6
9   Bilal          6        0     1         0     0

In [62]:
new_em.drop(new_em.index[0:2],inplace  = True)
print(new_em)

     Name  Happiness  Sadness  Fear  Surprise  Love
2  Zainab          5        8     5         3     8
3    Amir          7        2     3         4     2
4    Umer          4        5     8         5     5
5     Ali          1        3     9         6     3
6  Hassan          3        6     4         7     6
8    Sara          8        6     2         9     6
9   Bilal          6        0     1         0     0

In [63]:
new_em.reset_index(drop=True,inplace = True)
# drop = True?
print(new_em)

     Name  Happiness  Sadness  Fear  Surprise  Love
0  Zainab          5        8     5         3     8
1    Amir          7        2     3         4     2
2    Umer          4        5     8         5     5
3     Ali          1        3     9         6     3
4  Hassan          3        6     4         7     6
5    Sara          8        6     2         9     6
6   Bilal          6        0     1         0     0

In [64]:
#now replace numbers in emotions data frame with actual textual values
# for this purpose runt htat data frame first

#defien the bins adn lables 
bins = [0,3,6,9,10]#define the edges of the bin
labels = ['low','mid','above mid','high']#define the corresponding data 

#use pd.cut to create a new column with labls based on the defined ranges
emotions_df['Sadness_Catoegory'] = pd.cut(emotions_df['Sadness'],bins= bins ,labels= labels,right= True)
print(emotions_df)

     Name  Happiness  Sadness  Fear  Surprise  Love Sadness_Catoegory
0  Ayesha          2        8     6         1     8         above mid
1  Fatima          4        9     4         2     9         above mid
2  Zainab          5        8     5         3     8         above mid
3    Amir          7        2     3         4     2               low
4    Umer          4        5     8         5     5               mid
5     Ali          1        3     9         6     3               low
6  Hassan          3        6     4         7     6               mid
7   Laila          9        4     3         8     4               mid
8    Sara          8        6     2         9     6               mid
9   Bilal          6        0     1         0     0               NaN

In [66]:

emotions_df['Sadness_Catoegory'] = pd.cut(emotions_df['Sadness'],bins= bins ,labels= labels,right= False)
print(emotions_df)

     Name  Happiness  Sadness  Fear  Surprise  Love Sadness_Catoegory
0  Ayesha          2        8     6         1     8         above mid
1  Fatima          4        9     4         2     9              high
2  Zainab          5        8     5         3     8         above mid
3    Amir          7        2     3         4     2               low
4    Umer          4        5     8         5     5               mid
5     Ali          1        3     9         6     3               mid
6  Hassan          3        6     4         7     6         above mid
7   Laila          9        4     3         8     4               mid
8    Sara          8        6     2         9     6         above mid
9   Bilal          6        0     1         0     0               low

In [55]:

ddata = {
    '': ['', '', '', '', '', '', '', '', '', ''],
    '': ['', '', '', '', '', '', '', '', '', '']
}
urdu_emotions_df = pd.DataFrame(ddata)
print(urdu_emotions_df)

0
1
2
3
4
5
6
7
8
9

In [70]:
urdu_emotions_df[''] = urdu_emotions_df[''].replace({'':1,'':0,'':-1,})
print(urdu_emotions_df)

0          1
1         -1
2           0
3           1
4            1
5            0
6            1
7         -1
8           1
9           0

/tmp/ipykernel_44771/1607871580.py:1: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  urdu_emotions_df[''] = urdu_emotions_df[''].replace({'':1,'':0,'':-1,})

In [71]:
random_data = {
    'Name' : ['happy','lucy','naruto','natsu','yato','erza','jelal'],
    'Gender' : ['male','female','male','male','male','female','male']
}
random_df = pd.DataFrame(random_data)
print(random_df)

     Name  Gender
0   happy    male
1    lucy  female
2  naruto    male
3   natsu    male
4    yato    male
5    erza  female
6   jelal    male

In [75]:
random_df['Gender'] = random_df['Gender'].factorize()[0]
print(random_df)

     Name  Gender
0   happy       0
1    lucy       1
2  naruto       0
3   natsu       0
4    yato       0
5    erza       1
6   jelal       0