# Making a DATA FRAME from NUMPY

In [28]:
import pandas as pd
import numpy as np

n_array = np.array([[1,2,3,],[11,22,33],[111,222,333]])

df = pd.DataFrame(n_array)

print(df)

     0    1    2
0    1    2    3
1   11   22   33
2  111  222  333

In [29]:
df_json = pd.read_json('https://jsonplaceholder.typicode.com/users')
print(df_json.head())

   id              name   username                      email  \
0   1     Leanne Graham       Bret          Sincere@april.biz
1   2      Ervin Howell  Antonette          Shanna@melissa.tv
2   3  Clementine Bauch   Samantha         Nathan@yesenia.net
3   4  Patricia Lebsack   Karianne  Julianne.OConner@kory.org
4   5  Chelsey Dietrich     Kamren   Lucio_Hettinger@annie.ca

                                             address                  phone  \
0  {'street': 'Kulas Light', 'suite': 'Apt. 556',...  1-770-736-8031 x56442
1  {'street': 'Victor Plains', 'suite': 'Suite 87...    010-692-6593 x09125
2  {'street': 'Douglas Extension', 'suite': 'Suit...         1-463-123-4447
3  {'street': 'Hoeger Mall', 'suite': 'Apt. 692',...      493-170-9623 x156
4  {'street': 'Skiles Walks', 'suite': 'Suite 351...          (254)954-1289

         website                                            company
0  hildegard.org  {'name': 'Romaguera-Crona', 'catchPhrase': 'Mu...
1  anastasia.net  {'name': 'Deckow-Crist', 'catchPhrase': 'Proac...
2    ramiro.info  {'name': 'Romaguera-Jacobson', 'catchPhrase': ...
3       kale.biz  {'name': 'Robel-Corkery', 'catchPhrase': 'Mult...
4   demarco.info  {'name': 'Keebler LLC', 'catchPhrase': 'User-c...

In [30]:
#df_csv = pd.read_csv('https://raw.githubusercontent.com/plotly/datasets/master/gapminderDataFiveYear.csv')

#print(df_csv.tail())

In [31]:
#copied_df = pd.read_clipboard()
#print(copied_df)

### lets filter and get data of pakistan only from above dataframe
boolean_indexing = This method uses a condition inside squre brackets to filter the Dataframe

In [32]:
Pakistan_data = df_csv[df_csv['country']=='Pakistan']
print(Pakistan_data)

       country  year          pop continent  lifeExp    gdpPercap
1164  Pakistan  1952   41346560.0      Asia   43.436   684.597144
1165  Pakistan  1957   46679944.0      Asia   45.557   747.083529
1166  Pakistan  1962   53100671.0      Asia   47.670   803.342742
1167  Pakistan  1967   60641899.0      Asia   49.800   942.408259
1168  Pakistan  1972   69325921.0      Asia   51.929  1049.938981
1169  Pakistan  1977   78152686.0      Asia   54.043  1175.921193
1170  Pakistan  1982   91462088.0      Asia   56.158  1443.429832
1171  Pakistan  1987  105186881.0      Asia   58.245  1704.686583
1172  Pakistan  1992  120065004.0      Asia   60.838  1971.829464
1173  Pakistan  1997  135564834.0      Asia   61.818  2049.350521
1174  Pakistan  2002  153403524.0      Asia   63.610  2092.712441
1175  Pakistan  2007  169270617.0      Asia   65.483  2605.947580

In [33]:
Pakistan_data_loc = df_csv.loc[df_csv['country'] == 'Pakistan']
print(Pakistan_data_loc)

       country  year          pop continent  lifeExp    gdpPercap
1164  Pakistan  1952   41346560.0      Asia   43.436   684.597144
1165  Pakistan  1957   46679944.0      Asia   45.557   747.083529
1166  Pakistan  1962   53100671.0      Asia   47.670   803.342742
1167  Pakistan  1967   60641899.0      Asia   49.800   942.408259
1168  Pakistan  1972   69325921.0      Asia   51.929  1049.938981
1169  Pakistan  1977   78152686.0      Asia   54.043  1175.921193
1170  Pakistan  1982   91462088.0      Asia   56.158  1443.429832
1171  Pakistan  1987  105186881.0      Asia   58.245  1704.686583
1172  Pakistan  1992  120065004.0      Asia   60.838  1971.829464
1173  Pakistan  1997  135564834.0      Asia   61.818  2049.350521
1174  Pakistan  2002  153403524.0      Asia   63.610  2092.712441
1175  Pakistan  2007  169270617.0      Asia   65.483  2605.947580

In [34]:
df_temp = pd.read_excel("ai_24.xlsx")

df_ai = df_temp.iloc[:, [2,6,17]]
print(df_ai)

                 Name  CGPA Discrete Structures-CS1005
0          Hashir Ali  2.78                          I
1         Ali Jamshed  2.29                          I
2        Warda Shahid  2.28                          I
3          Inam Ullah  2.53                          I
4         Wasiq Ahmed  2.58                          I
5      Afrasiyab Khan  2.41                          I
6           Aaqib Ali  2.46                          I
7       Muhammad Azan  2.22                          I
8       Rabeesha Ijaz  3.22                          I
9         Musadiq Zeb  2.78                          I
10     Muhammad Waqas  2.36                          I
11        Inayatullah  2.24                          I
12       Khansa Malik  2.98                          I
13        Zafar Ullah  2.59                          I
14        Abdul Rafay  0.00                          I
15        Abdul Salam  0.00                          -
16          Ahsan Jan  3.23                          I
17          Ali Hamza  2.52                          I
18       Tooba Asghar  2.63                          I
19       Altafhussain  3.06                          I
20       Anohba Jehad  2.51                          I
21        Malik Talha  2.90                          I
22     Muhammad Awais  2.04                          I
23  Muhammad Abdullah  2.85                          I
24              Hamza  2.35                          I
25        Usman Ghani  2.32                          I
26      Kabeer Shoaib  2.91                          I
27      Hassan Askari  2.23                          I
28       Eimaan Zahra  2.58                          I

In [35]:
new_df = pd.DataFrame({
    'Integers': np.random.randint(5,size = 5),
    'Floats': np.random.uniform(1,10,size = 5),
    'Strings': np.random.randint(5,size = 5),
    'More Floats': np.random.rand(5)

})
print(new_df)
print(new_df.dtypes)

#column name does not change the type

new_df['Strings']= new_df['Strings'].apply(lambda x:f"'{x}'")
print(new_df)
print(new_df.dtypes)

   Integers    Floats  Strings  More Floats
0         2  5.766879        4     0.307522
1         0  7.277744        3     0.361470
2         2  9.315666        0     0.129236
3         1  3.745436        2     0.656739
4         0  4.888540        2     0.847895
Integers         int64
Floats         float64
Strings          int64
More Floats    float64
dtype: object
   Integers    Floats Strings  More Floats
0         2  5.766879     '4'     0.307522
1         0  7.277744     '3'     0.361470
2         2  9.315666     '0'     0.129236
3         1  3.745436     '2'     0.656739
4         0  4.888540     '2'     0.847895
Integers         int64
Floats         float64
Strings         object
More Floats    float64
dtype: object

In [36]:
new_df['Strings']=new_df['Strings'].str.replace("'","")
new_df['Strings']=new_df['Strings'].astype(int)
print(new_df)
print(new_df.dtypes)

#.replace()funtion is being depricated so what to do instead?

   Integers    Floats  Strings  More Floats
0         2  5.766879        4     0.307522
1         0  7.277744        3     0.361470
2         2  9.315666        0     0.129236
3         1  3.745436        2     0.656739
4         0  4.888540        2     0.847895
Integers         int64
Floats         float64
Strings          int64
More Floats    float64
dtype: object

### Extracting random sample data from a large dataset

In [37]:
df_csv = pd.read_csv('https://raw.githubusercontent.com/plotly/datasets/master/gapminderDataFiveYear.csv')
print(df_csv.shape)

(1704, 6)

In [38]:
one_percent_df_csv = df_csv.sample(frac=0.01)
print(one_percent_df_csv)

             country  year          pop continent  lifeExp     gdpPercap
219         Cambodia  1967    6960067.0      Asia   45.415    523.432314
642            Haiti  1982    5198399.0  Americas   51.461   2011.159549
229         Cameroon  1957    5359923.0    Africa   40.428   1313.048099
1597  United Kingdom  1957   51430000.0    Europe   70.420  11283.177950
587            Ghana  2007   22873338.0    Africa   60.022   1327.608910
1177          Panama  1957    1063506.0  Americas   59.201   2961.800905
1052         Myanmar  1992   40546538.0      Asia   59.320    347.000000
1642       Venezuela  2002   24287670.0  Americas   72.766   8605.047831
925           Malawi  1957    3221238.0    Africa   37.207    416.369806
883          Lesotho  1987    1599200.0    Africa   57.180    773.993214
1187          Panama  2007    3242173.0  Americas   75.537   9809.185636
718        Indonesia  2002  211060000.0      Asia   68.588   2873.912870
984           Mexico  1952   30144317.0  Americas   50.789   3478.125529
1396         Somalia  1972    3840161.0    Africa   40.973   1254.576127
1611   United States  1967  198712000.0  Americas   70.760  19530.365570
1476     Switzerland  1952    4815000.0    Europe   69.620  14734.232750
842      Korea, Rep.  1962   26420307.0      Asia   55.292   1536.344387

- doing it for columns

In [39]:
fifty_percent_columns_df_csv = df_csv.sample(frac=0.5,axis=1).head()
print(fifty_percent_columns_df_csv)
#asix of numoy vs pandas

#What if the columns are odd and we are selecting 50 % of columns randomly

   year   gdpPercap      country
0  1952  779.445314  Afghanistan
1  1957  820.853030  Afghanistan
2  1962  853.100710  Afghanistan
3  1967  836.197138  Afghanistan
4  1972  739.981106  Afghanistan

### saving to differnt files formats to csv

In [40]:
df_ai.to_csv('apka_data_csv_mein.csv')
df_ai.to_excel('apka_data_excel_mein.xlsx',engine = 'openpyxl')
df_ai.to_json('apka_data_json_mein.json')
df_ai.to_html('apka_data_html_mein.html')

### getting rid of columns and rows in a dataframe

In [41]:
emotions_data = {
    'Name':['Ayesha','Fatima','Zainab','Amir','Umer','Ali','Hassan','Laila','Sara','Bilal'],
    'Happiness':[2,4,5,7,4,1,3,9,8,6],
    'Sadness': [8,9,8,2,5,3,6,4,6,0],
    'Fear': [6,4,5,3,8,9,4,3,2,1],
    'Surprise': [1,2,3,4,5,6,7,8,9,0],
    'Disgust': [8,6,5,6,2,5,4,0,2,4],
    'Love': [8,9,8,2,5,3,6,4,6,0]
}
emotions_data = pd.DataFrame(emotions_data)
print(emotions_data)

     Name  Happiness  Sadness  Fear  Surprise  Disgust  Love
0  Ayesha          2        8     6         1        8     8
1  Fatima          4        9     4         2        6     9
2  Zainab          5        8     5         3        5     8
3    Amir          7        2     3         4        6     2
4    Umer          4        5     8         5        2     5
5     Ali          1        3     9         6        5     3
6  Hassan          3        6     4         7        4     6
7   Laila          9        4     3         8        0     4
8    Sara          8        6     2         9        2     6
9   Bilal          6        0     1         0        4     0

### get rid of column

In [42]:
emotions_data.drop('Disgust',axis=1,inplace=True)
print(emotions_data)

     Name  Happiness  Sadness  Fear  Surprise  Love
0  Ayesha          2        8     6         1     8
1  Fatima          4        9     4         2     9
2  Zainab          5        8     5         3     8
3    Amir          7        2     3         4     2
4    Umer          4        5     8         5     5
5     Ali          1        3     9         6     3
6  Hassan          3        6     4         7     6
7   Laila          9        4     3         8     4
8    Sara          8        6     2         9     6
9   Bilal          6        0     1         0     0

### get rid of row

In [43]:
new_em = emotions_data.drop(7)
print(new_em)

     Name  Happiness  Sadness  Fear  Surprise  Love
0  Ayesha          2        8     6         1     8
1  Fatima          4        9     4         2     9
2  Zainab          5        8     5         3     8
3    Amir          7        2     3         4     2
4    Umer          4        5     8         5     5
5     Ali          1        3     9         6     3
6  Hassan          3        6     4         7     6
8    Sara          8        6     2         9     6
9   Bilal          6        0     1         0     0

### dropping range of rowsd

In [44]:
new_em.drop(new_em.index[0:2],inplace  = True)
print(new_em)

     Name  Happiness  Sadness  Fear  Surprise  Love
2  Zainab          5        8     5         3     8
3    Amir          7        2     3         4     2
4    Umer          4        5     8         5     5
5     Ali          1        3     9         6     3
6  Hassan          3        6     4         7     6
8    Sara          8        6     2         9     6
9   Bilal          6        0     1         0     0

### resting index as it is out of order

In [45]:
new_em.reset_index(drop=True,inplace = True)
# drop = True?
print(new_em)

     Name  Happiness  Sadness  Fear  Surprise  Love
0  Zainab          5        8     5         3     8
1    Amir          7        2     3         4     2
2    Umer          4        5     8         5     5
3     Ali          1        3     9         6     3
4  Hassan          3        6     4         7     6
5    Sara          8        6     2         9     6
6   Bilal          6        0     1         0     0

## Joining Dataframe

In [46]:
# first creating 3 dataframes
# Dataframe 1:clothing items

data1 = {
    'ItemID': [1,2,3],
    'ItemName': ['Abaya','Hijab','Jilbab'],
    'DesignerID':[101,102,101]
}

df_cloth1 = pd.DataFrame(data1)
data2 = {
    'DesignerID' : [101,102],
    'DesignerName': ['Designer A','Designer B']
}
df_cloth2 = pd.DataFrame(data2)
#dataframe 3: clothing items
data3 = {
    'ItemID':[4,5],
    'ItemName':['Kaftan','Tunic'],
    'DesignerID':[103,104]
}

df_cloth3 = pd.DataFrame(data3)

print("DataFrame cloths 1:\n",df_cloth1)
print("\nDataFrame cloths 2:\n",df_cloth2)
print("\nDataFrame cloths 3:\n",df_cloth3)

DataFrame cloths 1:
    ItemID ItemName  DesignerID
0       1    Abaya         101
1       2    Hijab         102
2       3   Jilbab         101

DataFrame cloths 2:
    DesignerID DesignerName
0         101   Designer A
1         102   Designer B

DataFrame cloths 3:
    ItemID ItemName  DesignerID
0       4   Kaftan         103
1       5    Tunic         104

### using merge

In [47]:
# merge on DesignerID , merging based on a common  column
merged_df = df_cloth1.merge(df_cloth2, on ="DesignerID")
print("Merged Datafraeme :",merged_df)

Merged Datafraeme :    ItemID ItemName  DesignerID DesignerName
0       1    Abaya         101   Designer A
1       2    Hijab         102   Designer B
2       3   Jilbab         101   Designer A

### we are interested to get unique gpa values

In [48]:
print(df_ai.pai_cgpa.unique())

AttributeError: 'DataFrame' object has no attribute 'pai_cgpa'

### Checking if it exits in a column

In [ ]:
print(df_ai['pai_name']=='Ahmad lashari')
print(df_ai.query("pai_name=='Nashwa rahim'"))
print(df_ai.query("pai_name_str.contains('r',case=False)"))

In [ ]:
mytemp = df_ai.pai_name.str.contains('r',case = False) & (df_ai.pai_cgpa<2) 
print(mytemp)
print(df_ai[mytemp])

mytemp2 = (df_ai.pai_cgpa <2.5) | (df_ai.pai_cgpa>3.5)
print(mytemp2)
print(df_ai[mytemp2])

print(df_ai.pai_oop.value_counts())

In [ ]:
print(df_ai.pai_oop.value_counts().nsmallest(4))
print(df_ai.pai_oop.value_counts().nlargest(4))


# how isin works in dataframe

In [ ]:
#randomly assign values from a list to rows in data frame

In [ ]:
cities = ['peshawar','lahore','karachi','quetta']
df_ai = np.random.choice(cities,len(df_ai))
print(df_ai)

In [49]:
#get records
df_ai[df_ai.city=='karachi']
df_ai.groupby(['city','pai_oop']).count()

#how many cities are there

len(df_ai.groupby('city'))

AttributeError: 'DataFrame' object has no attribute 'city'

### Show me records whose gpa is less than average gpa

In [50]:
df_ai[df_ai.pai.cgpa < df_ai.pai_cgpa.mean()]

AttributeError: 'DataFrame' object has no attribute 'pai'

In [ ]:
# now who have greater than average of class

df_ai[df_ai.pai_cgpa > df_ai.pai_cgpa.mean()]