# Making a DATA FRAME from NUMPY

In [1]:
import pandas as pd
import numpy as np

n_array = np.array([[1,2,3,],[11,22,33],[111,222,333]])

df = pd.DataFrame(n_array)

print(df)

     0    1    2
0    1    2    3
1   11   22   33
2  111  222  333

In [2]:
df_json = pd.read_json('https://jsonplaceholder.typicode.com/users')
print(df_json.head())

   id              name   username                      email  \
0   1     Leanne Graham       Bret          Sincere@april.biz
1   2      Ervin Howell  Antonette          Shanna@melissa.tv
2   3  Clementine Bauch   Samantha         Nathan@yesenia.net
3   4  Patricia Lebsack   Karianne  Julianne.OConner@kory.org
4   5  Chelsey Dietrich     Kamren   Lucio_Hettinger@annie.ca

                                             address                  phone  \
0  {'street': 'Kulas Light', 'suite': 'Apt. 556',...  1-770-736-8031 x56442
1  {'street': 'Victor Plains', 'suite': 'Suite 87...    010-692-6593 x09125
2  {'street': 'Douglas Extension', 'suite': 'Suit...         1-463-123-4447
3  {'street': 'Hoeger Mall', 'suite': 'Apt. 692',...      493-170-9623 x156
4  {'street': 'Skiles Walks', 'suite': 'Suite 351...          (254)954-1289

         website                                            company
0  hildegard.org  {'name': 'Romaguera-Crona', 'catchPhrase': 'Mu...
1  anastasia.net  {'name': 'Deckow-Crist', 'catchPhrase': 'Proac...
2    ramiro.info  {'name': 'Romaguera-Jacobson', 'catchPhrase': ...
3       kale.biz  {'name': 'Robel-Corkery', 'catchPhrase': 'Mult...
4   demarco.info  {'name': 'Keebler LLC', 'catchPhrase': 'User-c...

In [3]:
df_csv = pd.read_csv('https://raw.githubusercontent.com/plotly/datasets/master/gapminderDataFiveYear.csv')

print(df_csv.tail())

       country  year         pop continent  lifeExp   gdpPercap
1699  Zimbabwe  1987   9216418.0    Africa   62.351  706.157306
1700  Zimbabwe  1992  10704340.0    Africa   60.377  693.420786
1701  Zimbabwe  1997  11404948.0    Africa   46.809  792.449960
1702  Zimbabwe  2002  11926563.0    Africa   39.989  672.038623
1703  Zimbabwe  2007  12311143.0    Africa   43.487  469.709298

In [5]:
copied_df = pd.read_clipboard()
print(copied_df)

ParserError: Expected 6 fields in line 10, saw 9. Error could possibly be due to quotes being ignored when a multi-char delimiter is used.

### lets filter and get data of pakistan only from above dataframe
boolean_indexing = This method uses a condition inside squre brackets to filter the Dataframe

In [6]:
Pakistan_data = df_csv[df_csv['country']=='Pakistan']
print(Pakistan_data)

       country  year          pop continent  lifeExp    gdpPercap
1164  Pakistan  1952   41346560.0      Asia   43.436   684.597144
1165  Pakistan  1957   46679944.0      Asia   45.557   747.083529
1166  Pakistan  1962   53100671.0      Asia   47.670   803.342742
1167  Pakistan  1967   60641899.0      Asia   49.800   942.408259
1168  Pakistan  1972   69325921.0      Asia   51.929  1049.938981
1169  Pakistan  1977   78152686.0      Asia   54.043  1175.921193
1170  Pakistan  1982   91462088.0      Asia   56.158  1443.429832
1171  Pakistan  1987  105186881.0      Asia   58.245  1704.686583
1172  Pakistan  1992  120065004.0      Asia   60.838  1971.829464
1173  Pakistan  1997  135564834.0      Asia   61.818  2049.350521
1174  Pakistan  2002  153403524.0      Asia   63.610  2092.712441
1175  Pakistan  2007  169270617.0      Asia   65.483  2605.947580

In [7]:
Pakistan_data_loc = df_csv.loc[df_csv['country'] == 'Pakistan']
print(Pakistan_data_loc)

       country  year          pop continent  lifeExp    gdpPercap
1164  Pakistan  1952   41346560.0      Asia   43.436   684.597144
1165  Pakistan  1957   46679944.0      Asia   45.557   747.083529
1166  Pakistan  1962   53100671.0      Asia   47.670   803.342742
1167  Pakistan  1967   60641899.0      Asia   49.800   942.408259
1168  Pakistan  1972   69325921.0      Asia   51.929  1049.938981
1169  Pakistan  1977   78152686.0      Asia   54.043  1175.921193
1170  Pakistan  1982   91462088.0      Asia   56.158  1443.429832
1171  Pakistan  1987  105186881.0      Asia   58.245  1704.686583
1172  Pakistan  1992  120065004.0      Asia   60.838  1971.829464
1173  Pakistan  1997  135564834.0      Asia   61.818  2049.350521
1174  Pakistan  2002  153403524.0      Asia   63.610  2092.712441
1175  Pakistan  2007  169270617.0      Asia   65.483  2605.947580

In [8]:
df_temp = pd.read_excel("ai_24.xlsx")

df_ai = df_temp.iloc[:, [2,6,17]]
print(df_ai)

                 Name  CGPA Discrete Structures-CS1005
0          Hashir Ali  2.78                          I
1         Ali Jamshed  2.29                          I
2        Warda Shahid  2.28                          I
3          Inam Ullah  2.53                          I
4         Wasiq Ahmed  2.58                          I
5      Afrasiyab Khan  2.41                          I
6           Aaqib Ali  2.46                          I
7       Muhammad Azan  2.22                          I
8       Rabeesha Ijaz  3.22                          I
9         Musadiq Zeb  2.78                          I
10     Muhammad Waqas  2.36                          I
11        Inayatullah  2.24                          I
12       Khansa Malik  2.98                          I
13        Zafar Ullah  2.59                          I
14        Abdul Rafay  0.00                          I
15        Abdul Salam  0.00                          -
16          Ahsan Jan  3.23                          I
17          Ali Hamza  2.52                          I
18       Tooba Asghar  2.63                          I
19       Altafhussain  3.06                          I
20       Anohba Jehad  2.51                          I
21        Malik Talha  2.90                          I
22     Muhammad Awais  2.04                          I
23  Muhammad Abdullah  2.85                          I
24              Hamza  2.35                          I
25        Usman Ghani  2.32                          I
26      Kabeer Shoaib  2.91                          I
27      Hassan Askari  2.23                          I
28       Eimaan Zahra  2.58                          I

In [12]:
df_ai.rename(columns={"Object Oriented Programming-CS1004":"OOP"},inplace = True)
print(df_ai)

                 Name  CGPA Discrete Structures-CS1005
0          Hashir Ali  2.78                          I
1         Ali Jamshed  2.29                          I
2        Warda Shahid  2.28                          I
3          Inam Ullah  2.53                          I
4         Wasiq Ahmed  2.58                          I
5      Afrasiyab Khan  2.41                          I
6           Aaqib Ali  2.46                          I
7       Muhammad Azan  2.22                          I
8       Rabeesha Ijaz  3.22                          I
9         Musadiq Zeb  2.78                          I
10     Muhammad Waqas  2.36                          I
11        Inayatullah  2.24                          I
12       Khansa Malik  2.98                          I
13        Zafar Ullah  2.59                          I
14        Abdul Rafay  0.00                          I
15        Abdul Salam  0.00                          -
16          Ahsan Jan  3.23                          I
17          Ali Hamza  2.52                          I
18       Tooba Asghar  2.63                          I
19       Altafhussain  3.06                          I
20       Anohba Jehad  2.51                          I
21        Malik Talha  2.90                          I
22     Muhammad Awais  2.04                          I
23  Muhammad Abdullah  2.85                          I
24              Hamza  2.35                          I
25        Usman Ghani  2.32                          I
26      Kabeer Shoaib  2.91                          I
27      Hassan Askari  2.23                          I
28       Eimaan Zahra  2.58                          I

/tmp/ipykernel_61075/1141923547.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_ai.rename(columns={"Object Oriented Programming-CS1004":"OOP"},inplace = True)

In [13]:
df_ai['OOP'] = df_ai['OOP'].replace('I','pending')
print(df_ai)

KeyError: 'OOP'

#### Changing case of columns

In [15]:
df_ai.columns = df_ai.columns.str.lower()
print(df_ai)

                 name  cgpa discrete structures-cs1005
0          Hashir Ali  2.78                          I
1         Ali Jamshed  2.29                          I
2        Warda Shahid  2.28                          I
3          Inam Ullah  2.53                          I
4         Wasiq Ahmed  2.58                          I
5      Afrasiyab Khan  2.41                          I
6           Aaqib Ali  2.46                          I
7       Muhammad Azan  2.22                          I
8       Rabeesha Ijaz  3.22                          I
9         Musadiq Zeb  2.78                          I
10     Muhammad Waqas  2.36                          I
11        Inayatullah  2.24                          I
12       Khansa Malik  2.98                          I
13        Zafar Ullah  2.59                          I
14        Abdul Rafay  0.00                          I
15        Abdul Salam  0.00                          -
16          Ahsan Jan  3.23                          I
17          Ali Hamza  2.52                          I
18       Tooba Asghar  2.63                          I
19       Altafhussain  3.06                          I
20       Anohba Jehad  2.51                          I
21        Malik Talha  2.90                          I
22     Muhammad Awais  2.04                          I
23  Muhammad Abdullah  2.85                          I
24              Hamza  2.35                          I
25        Usman Ghani  2.32                          I
26      Kabeer Shoaib  2.91                          I
27      Hassan Askari  2.23                          I
28       Eimaan Zahra  2.58                          I

what does it do ? # df_ai.columns,.str.title()

### Adding something to start of column names

In [17]:
df_ai =df_ai.add_prefix('pai_')
print(df_ai)

          pai_painame  pai_paicgpa pai_paidiscrete structures-cs1005
0          Hashir Ali         2.78                                 I
1         Ali Jamshed         2.29                                 I
2        Warda Shahid         2.28                                 I
3          Inam Ullah         2.53                                 I
4         Wasiq Ahmed         2.58                                 I
5      Afrasiyab Khan         2.41                                 I
6           Aaqib Ali         2.46                                 I
7       Muhammad Azan         2.22                                 I
8       Rabeesha Ijaz         3.22                                 I
9         Musadiq Zeb         2.78                                 I
10     Muhammad Waqas         2.36                                 I
11        Inayatullah         2.24                                 I
12       Khansa Malik         2.98                                 I
13        Zafar Ullah         2.59                                 I
14        Abdul Rafay         0.00                                 I
15        Abdul Salam         0.00                                 -
16          Ahsan Jan         3.23                                 I
17          Ali Hamza         2.52                                 I
18       Tooba Asghar         2.63                                 I
19       Altafhussain         3.06                                 I
20       Anohba Jehad         2.51                                 I
21        Malik Talha         2.90                                 I
22     Muhammad Awais         2.04                                 I
23  Muhammad Abdullah         2.85                                 I
24              Hamza         2.35                                 I
25        Usman Ghani         2.32                                 I
26      Kabeer Shoaib         2.91                                 I
27      Hassan Askari         2.23                                 I
28       Eimaan Zahra         2.58                                 I

what will add suffix do

### reversing rows in sata frame

In [19]:
print(df_ai.ilocc[]::-1)
print(df_ai[['pai_cgpa','pai_oop','pai_name']])
print(df_rerversed_iloc)

SyntaxError: invalid syntax. Perhaps you forgot a comma? (3168177019.py, line 1)

In [20]:
print(pd.Series(df_ai.columns).to_string())

0                          pai_painame
1                          pai_paicgpa
2    pai_paidiscrete structures-cs1005

In [22]:
print(pd.Series(df_ai.columns).to_string(index = True),sep=',')

0                          pai_painame
1                          pai_paicgpa
2    pai_paidiscrete structures-cs1005

In [23]:
print(', '.join(df_ai.columns))

pai_painame, pai_paicgpa, pai_paidiscrete structures-cs1005

### Select columns by type

In [ ]:
print(df_ai.select_dtype(include = "number"))
print(df_ai.select_dtype(include = "int"))
print(df_ai.select_dtype(include = "number"))